body{
  background-color: #d6b573 !important;
}
.navbar{
  width:auto;
}
.container{
  background-color: #d6b573 !important;
}

.jumbotron-foto{
  background-image: url("images/Halalfoodz_jumbotronpic.jpg");
  background-size: cover;
  height:500px;
  width: auto;

}
.carousel-inner img{
  width:500px;
  height:350px;

}
